.content {
    padding: 10px;
}

.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}

.submenu.expanded {
  transform: scaleY(1);
}

.sidenav {
  user-select: none;
}

video {
    margin: auto;
    width: 480px;
    height: 360px;
    background-color: black;
}
